<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/edit_profile.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="main">
		<div class="menu-title">
			-개인정보 변경-
		</div>

		<div class="main-content">
			<div class="main-content-wrapper">

				<div class="left-column">
					<div class="change-avatar content-box">
						<div class="change-avatar_image image"></div>
						<div class="change-avatar_comment">
							사진 변경
						</div>
					</div>
				</div>

				<div class="right-column">
					<input name="new_password" class="modify-input content-box" type="password" placeholder="새 비밀번호">
					<input name="new_password_check" class="modify-input content-box" type="password"
						placeholder="새 비밀번호 확인">
					<input name="tel-number" class="modify-input content-box" type="text" placeholder="휴대폰 번호">

					<!--<div class="change-account image"></div>-->
				</div>
			</div>
			<div class="row-wrapper">
				<div class="input-row-0">
				</div>

				<div class="input-row-1">
					<input name="password" class="modify-input content-box content-bottom" type="password"
						placeholder="현재 비밀번호">
				</div>
				<div class="input-row-2">
					<div class="modify-input content-box content-bottom">
						정보 변경
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="/js/edit_profile.js"></script>
</body>

</html>