<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>언택트 BX</title>
		<link href="css/styles.css" rel="stylesheet" />
		<link href="css/header.css" rel="stylesheet" />
		<link href="css/informationmodify.css" rel="stylesheet" />
		<link href="css/menutitle.css" rel="stylesheet" />
	</head>
	
	<body>
		<header class="header">
			<a class="header__hompage-link" href="index.html">
				<div class="header__logo"></div>
			</a>
		</header>

		<main class="informationmodify__main main">
			<div class="informationmodify__title menu-title">
				-개인정보 변경-
			</div>
			
			<div class="informationmodify__main-content">
				<div class="main-content-wrapper">
					<div class="informationmodify__left-column">
						<div class="informationmodify--change-avatar content-box">
							<div class="change-avatar__image image"></div>
							<div class="change-avatar__comment">
								사진 변경
							</div>
						</div>
					</div>
					<div class="informationmodify__right-column">
						<div class="informationmodify--password-change content-box">
							비밀번호 변경
						</div>
						<div class="informationmodify--mobile-phone-number-change content-box">
							핸드폰 번호 변경
						</div>
						<div class="informationmodify--account-link-change image"></div>
					</div>	
				</div>
			</div>
		</main>

		<script src="js/informationmodify.js"></script>
	</body>
</html>
