<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="../public/css/styles.css" rel="stylesheet" />
	<link href="../public/css/header.css" rel="stylesheet" />
	<link href="../public/css/menu.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="index.html">
			<div class="header__logo"></div>
		</a>
		<nav class="header__nav nav">
			<ul class="nav__menu-type-list menu-type-list">
				<a class="menu-type-list__menu-link" href="snack.html">
					<li class="menu-type-list__menu-type snack">과자류</li>
				</a>
				<a class="menu-type-list__menu-link" href="icecream.html">
					<li class="menu-type-list__menu-type icecream">아이스크림</li>
				</a>
				<a class="menu-type-list__menu-link" href="necessary.html">
					<li class="menu-type-list__menu-type necessary">생활용품</li>
				</a>
				<a class="menu-type-list__menu-link" href="cosmetics.html">
					<li class="menu-type-list__menu-type cosmetics">화장품</li>
				</a>
				<a class="menu-type-list__menu-link" href="dairy.html">
					<li class="menu-type-list__menu-type dairy">유제품</li>
				</a>
				<a class="menu-type-list__menu-link" href="liquors.html">
					<li class="menu-type-list__menu-type liquors selected-menu">주류/담배</li>
				</a>
			</ul>
		</nav>
	</header>

	<main class="snack__main main menu__main">
		<ul class="menu__main__items items">
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
			<a class="items__link" href="#">
				<li class="items__item">
					<div class="items__item-picture"></div>
					<div class="items__item-price">400</div>
				</li>
			</a>
		</ul>

		<nav class="menu__main__nav">
			&lt;
			<ol class="menu__nav__list nav-list">
				<a class="nav-list__link" href="#">
					<li class="nav-list__item selected-nav">1</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">2</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">3</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">4</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">5</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">6</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">7</li>
				</a>
				<a class="nav-list__link" href="#">
					<li class="nav-list__item">8</li>
				</a>
			</ol>
			&gt;
		</nav>
	</main>
</body>

</html>