<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="../public/css/styles.css" rel="stylesheet" />
	<link href="../public/css/header.css" rel="stylesheet" />
	<link href="../public/css/privateinformation.css" rel="stylesheet" />
	<link href="../public/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="index.html">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="privateinformation__main main">
		<div class="privateinformation__title menu-title">
			-개인정보-
		</div>
		<div class="privateinformation--information">
			<div class="information__row1">
				<div class="information__avatar image content-box"></div>
				<div class="information__row1__right-column">
					<div class="information__row1__row1">
						<div class="information__name content-box">이름</div>
						<div class="information__class content-box">계급</div>
					</div>
					<div class="information__row1__row2">
						<div class="information__serial-number content-box">군번</div>
						<div class="information__birth-date content-box">생년월일</div>
					</div>
					<div class="information__row1__row3">
						<div class="information__account-link-information content-box">계좌 연동 정보(ibk, kb)</div>
					</div>
				</div>
			</div>
			<div class="information__row-wrapper">
				<div class="information__row2">
					<div class="information__mobile-phone-number content-box">핸드폰 번호</div>
				</div>
				<div class="information__row3">
					<div class="information__organization content-box">조직</div>
				</div>
				<div class="information__row4">
					<button class="information__information-modify image"></button>
				</div>
			</div>
		</div>
	</main>

	<script src="js/privateinformation.js"></script>
</body>

</html>