<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/reservation.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="goodsreservedtime__main main">
		<div class="goodsreservedtime__title menu-title">
			-물품수령시간-
		</div>
		<div class="goodsreservedtime--main-content">
			<div class="main-content--left-column">
				<div class="main-content--left-top">
					<div class="main-content--avatar image"></div>
					<div class="main-content--information">
						<div class="information__name">
							이름:
							<div class="information__name__namespace">
								김공군
							</div>
						</div>
						<div class="information__ordered-time">
							주문 일:
							<div class="information__ordered-time__timespace">
								06/23-09:30
							</div>
						</div>
						<div class="information__reserved-time">
							수령시간:
							<div class="information__reserved-time__timespace">
								06/23-12:30
							</div>
							예정
						</div>
						<div class="information__total-price">
							가격:
							<div class="information__total-price__pricespace">
								14300
							</div>
							원
						</div>
					</div>
				</div>
				<div class="main-content--left-bottom">
					<div class="main-content--caution">
						<div class="caution__header">
							●제품별 유의사항
						</div>
						<ul class="caution__caution-list">
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main-content--right-column">
				<div class="main-content--purchase-list">
					<div class="purchase-list__header">
						●구매목록
					</div>
					<ul class="purchase-list__list">
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								간장치킨
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								콜라
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1200
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								이클립스
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1100
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								황금 밥알
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								육개장
							</div>
							<div class="purchase-list__item__count">
								x3
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								끌레도르
							</div>
							<div class="purchase-list__item__count">
								x4
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								더 만두
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								간장치킨
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								콜라
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1200
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								이클립스
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1100
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								황금 밥알
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								육개장
							</div>
							<div class="purchase-list__item__count">
								x3
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								끌레도르
							</div>
							<div class="purchase-list__item__count">
								x4
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								더 만두
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								간장치킨
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								콜라
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1200
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								이클립스
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1100
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								황금 밥알
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								육개장
							</div>
							<div class="purchase-list__item__count">
								x3
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								끌레도르
							</div>
							<div class="purchase-list__item__count">
								x4
							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
						<li class="purchase-list__item">
							-
							<div class="purchase-list__item__name">
								더 만두
							</div>
							<div class="purchase-list__item__count">

							</div>
							:
							<div class="purchase-list__item__price">
								1800
							</div>
							원
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</body>

</html>