<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="../public/css/styles.css" rel="stylesheet" />
	<link href="../public/css/header.css" rel="stylesheet" />
	<link href="../public/css/shoppingbag.css" rel="stylesheet" />
	<link href="../public/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="index.html">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="shoppingbag__main main">
		<div class="shoppingbag__title menu-title">
			-장바구니-
		</div>
		<div class="main-content">
			<div class="shoppingbag--listbox">
				<div class="listbox__header">
					<div class="listbox__header__icon image"></div>
					<div class="listbox__header__title">
						● 장바구니
					</div>
				</div>
				<ul class="listbox__list shopping-list">
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								간장치킨
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1800
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								콜라
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								이클립스
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1100
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								황금 밥알
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								3000
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								욱개장
							</span>
							<span class="shopping-list-item-count">
								x3
							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								끌레도르
							</span>
							<span class="shopping-list-item-count">
								x4
							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								더만두
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1000
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								간장치킨
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1800
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								콜라
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								이클립스
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1100
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								황금 밥알
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								3000
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								욱개장
							</span>
							<span class="shopping-list-item-count">
								x3
							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								끌레도르
							</span>
							<span class="shopping-list-item-count">
								x4
							</span>
							:
							<span class="shopping-list-item-price">
								1200
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
					<li class="shopping-list-item">
						<div class="shopping-list-item-main">
							-
							<span class="shopping-list-item-name">
								더만두
							</span>
							<span class="shopping-list-item-count">

							</span>
							:
							<span class="shopping-list-item-price">
								1000
							</span>원
						</div>
						<button class="shopping-list-item__delete-button image"></button>
					</li>
				</ul>
			</div>
			<div class="main-content__right-column">
				<div class="shoppingbag--total-cost content-box">
					<div class="total-cost__left-column">
						합계:
					</div>
					<div class="total-cost__right-column">
						<span class="total-cost__number">
							14300
						</span>원
					</div>
				</div>
				<div class="shoppingbag--pay content-box">
					<div class="pay__left-column">
						MY pay
					</div>
					<div class="pay__right-column">
						<span class="pay__pay-method">
							IBK기업은행
						</span>
						<button class="pay__pay-method-select image"></button>
					</div>
				</div>
				<div class="shoppingbag--cash-back-check content-box">
					<div class="cash-back-check__left-column">
						이번 달 캐시백 이용
					</div>
					<div class="cash-back-check__right-column">
						(월 1회)
						<button class="cash-back-check__select image"></button>
					</div>
				</div>
				<div class="shoppingbag--reserve-time content-box">
					<div class="reserve-time__left-column">
						수령시간선택
					</div>
					<div class="reserve-time__right-column">
						[시간 선택]
					</div>
				</div>
			</div>

		</div>
		<div class="shoppingbag--agreement content-box">
			<div class="agreement__left-column">
				주의사항 및 동의 - [전문 보기]
			</div>
			<button class="agreement__check-button image"></button>
		</div>
		<div class="shoppingbag--button-box">
			<button class="shoppingbag--all-cancel-button image"></button>
			<button class="shoppingbag--purchase-button image"></button>
		</div>
	</main>
</body>

</html>