<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/signup.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="regist__main main">
		<div class="regist__main-wrapper">
			<div class="regist--title">
				회원가입
			</div>
			<form action="/user/signup" method="post" class="regist--form">
				<div class="regist__input-row-1">
					<input name="name" class="regist--input" type="text" placeholder="이름" />
					<input name="service_number" class="regist--input" type="text" placeholder="군번(아이디)" />
				</div>
				<div class="regist__input-row-2">
					<input name="password" class="regist--input" type="password" placeholder="비밀번호" />
					<input name="password_check" class="regist--input" type="password" placeholder="비밀번호 확인" />
				</div>
				<div class="regist__input-row-3">
					<input name="affiliated_unit" class="regist--input" type="text" placeholder="소속부대">
					<input name="rank" class="regist--input" type="text" placeholder="계급">
				</div>
				<div class="regist__input-row-4">
					<input name="date_of_birth" class="regist--input" type="text" placeholder="생년월일 (1999-01-01)">
					<input name="tel_number" class="regist--input" type="text" placeholder="휴대전화">
				</div>
				<input class="regist--submit" type="submit" value="회원가입">
			</form>
			<!--<div class="regist--account-link image"></div>-->

		</div>
	</main>
</body>

</html>