<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="../public/css/styles.css" rel="stylesheet" />
	<link href="../public/css/header.css" rel="stylesheet" />
	<link href="../public/css/signin.css" rel="stylesheet" />
	<link href="../public/css/menutitle.css" rel="stylesheet" />
	<script src="../public/js/myajaxtemplate.js"></script>
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="index.html">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="login__main main">
		<div class="login__main-wrapper">
			<div class="login--title">
				로그인
			</div>
			<form class="login--form">
				<input class="login--id" type="text" placeholder="군번" />
				<input class="login--password" type="password" placeholder="비밀번호" />
				<input class="login--submit unvisible" type="submit" />
			</form>
			<div class="login__other-container">
				<div class="login--regist">
					<a href="regist.html">
						회원가입
					</a>
				</div>
				/
				<div class="login--find-password">
					비밀번호 찾기
				</div>
			</div>
		</div>
	</main>

	<script src="js/signin.js"></script>
</body>

</html>