<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="../public/css/styles.css" rel="stylesheet" />
	<link href="../public/css/header.css" rel="stylesheet" />
	<link href="../public/css/regist.css" rel="stylesheet" />
	<link href="../public/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="regist__main main">
		<div class="regist__main-wrapper">
			<div class="regist--title">
				회원가입
			</div>
			<div class="regist__input-row-1">
				<input class="regist--name" type="text" placeholder="이름" />
				<input class="regist--id" type="text" placeholder="군번" />
			</div>
			<div class="regist__input-row-2">
				<input class="regist--password" type="password" placeholder="비밀번호" />
				<input class="regist--password-check" type="password" placeholder="비밀번호 확인" />
			</div>
			<div class="regist--account-link image"></div>
		</div>
	</main>
</body>

</html>