<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/signup.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="main">
		<div class="main-wrapper">
			<div class="title">
				회원가입
			</div>
			<form action="/sign/up" method="post">
				<div class="input-row-1">
					<input name="name" class="input-box" type="text" placeholder="이름" />
					<input name="service_number" class="input-box" type="text" placeholder="군번(아이디)" />
				</div>
				<div class="input-row-2">
					<input name="password" class="input-box" type="password" placeholder="비밀번호" />
					<input name="password_check" class="input-box" type="password" placeholder="비밀번호 확인" />
				</div>
				<div class="input-row-3">
					<input name="affiliated_unit" class="input-box" type="text" placeholder="소속부대">
					<input name="rank" class="input-box" type="text" placeholder="계급">
				</div>
				<div class="input-row-4">
					<input name="date_of_birth" class="input-box" type="text" placeholder="생년월일 (1999-01-01)">
					<input name="tel_number" class="input-box" type="text" placeholder="휴대전화">
				</div>
				<input class="input-submit" type="submit" value="회원가입">
			</form>
			<!--<div class="regist--account-link image"></div>-->

		</div>
	</main>
</body>

</html>