.main-content {
	width: 100%;
	height: 584px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 26px;
	font-weight: bold;
}

.main-content-wrapper {
	width: 100%;
	height: 325px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content-box {
	border: 5px solid black;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.left-column {
	width: 260px;
	height: 100%;
}

.change-avatar {
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.change-avatar_image {
	width: 135px;
	height: 130px;
	background-image: url(../images/change_avatar.png);
	margin-bottom: 20px;
}

.right-column {
	width: 435px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row-wrapper {
	width: 100%;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

[class*='input-row'] {
	margin-bottom: 5px;
	width: 800px;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.modify-input {
	width: 100%;
	height: 65px;
	cursor: pointer;
	text-align: center;
}

.content-bottom {
	width: 650px;
	height: 60px;
	margin-left: 80px;
}

.change-account {
	background-image: url(../images/account_link_change.png);
}
