.selectproduct__main-content {
  width: 100%;
  height: 584px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content__product-count {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-count--product {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.product__product-image {
  width: 100%;
  height: 180px;
  background-image: url(../images/shopping_bag.png);
  border: 3px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product__product-price {
  width: 100%;
  height: 25px;
  border: 3px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.product-count__right-column {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-count--product-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
}

.product-count--count {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.count__left-arrow,
.count__right-arrow {
  width: 50px;
  height: 80px;
}

.count__left-arrow {
  background-image: url(../images/left_arrow.png);
}

.count__right-arrow {
  background-image: url(../images/right_arrow.png);
}

.product-count--count-input {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  border: 3px solid deepskyblue;
}

.selectproduct__button-tab {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-tab__purchase-button,
.button-tab__add-shopping-bag-button {
  width: 450px;
  height: 80px;
}

.button-tab__purchase-button {
  background-image: url(../images/purchase.png);
}

.button-tab__add-shopping-bag-button {
  background-image: url(../images/shopping_bag.png);
}

.selectproduct__navigation-bar {
  width: 100%;
  height: 200px;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.navigation-bar__product {
  width: 140px;
  height: 180px;
  margin-right: 50px;
}