<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>μ–ΈνƒνΈ BX</title>
    <link href="/css/mobile/styles.css" rel="stylesheet" />
    <link href="/css/mobile/header.css" rel="stylesheet" />
    <link href="/css/mobile/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mobile/footer.css">
</head>

<body>
    <header class="header">
        <a href="/">
            <div class="header__logo"></div>
        </a>
    </header>

    <main class="main">
        <div>
            <a href="/product/list/snack">
                <div class="btn-mobile-snack"></div>
            </a>
            <a href="/product/list/essentials">
                <div class="btn-mobile-essentials"></div>
            </a>
            <a href="/product/list/dairy">
                <div class="btn-mobile-dairy"></div>
            </a>
            <a href="/product/list/liquors">
                <div class="btn-mobile-liquors"></div>
            </a>
        </div>

        <div>
            <a href="/product/list/icecream">
                <div class="btn-mobile-icecream"></div>
            </a>
            <a href="/product/list/iced">
                <div class="btn-mobile-iced"></div>
            </a>
            <a href="/product/list/cosmetics">
                <div class="btn-mobile-cosmetics"></div>
            </a>
            <a href="/product/list/health">
                <div class="btn-mobile-health"></div>
            </a>
        </div>


    </main>

    <footer class="footer">
        <div>
            <a href="">
                <div class="footer_call"></div>
            </a>

            <a href="/reservation">
                <div class="footer_reservation"></div>
            </a>

            <a href="/">
                <div class="footer_index"></div>
            </a>

            <a href="/profile">
                <div class="footer_profile"></div>
            </a>

            <a href="/basket">
                <div class="footer_basket"></div>
            </a>
        </div>
    </footer>
</body>

</html>